@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700");
body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
a:hover {
  text-decoration: none;
}
.quote {
  position: fixed;
  z-index: 99;
  right: -28px;
  background-color: #58acd1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 1em;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  top: 30%;
  border: solid #fff 2px;
  border-style: dashed;
}
.quote a:link {
  color: #fff;
}
.quote a:visited {
  color: #fff;
}
#arriba {
  background-color: #123450;
  text-align: right;
  padding-top: 1em;
}
#arriba .datos {
  float: right;
  color: #fff;
  display: inline;
  list-style: none;
ul
  display: table;
}
#arriba .datos li {
  display: table-cell;
  padding-left: 2em;
}
#banner {
  min-height: 80%;
  background-image: url("../img/banner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#banner h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
}
.banner2 {
  min-height: 100px;
  background-image: url("../img/banner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#services {
  text-align: center;
  background-color: #f9f9f9;
}
#key ul {
  float: left;
  display: inline-block;
  padding-top: 3em;
  text-align: center;
}
#key ul li {
  list-style: none;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
#benefits {
  background-color: #f1f9fd;
  text-align: center;
}
.logoMenu {
  padding-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.logoMenu .logo {
  text-align: center;
  width: 50%;
}
.menu {
  float: right;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 0;
  width: 100%;
  padding-top: 2em;
}
.menu li {
  list-style: none;
  font-size: 1em;
  font-weight: 300;
  width: 20%;
  text-align: center;
  position: relative;
}
.menu li a:hover {
  color: #ff0;
}
.menu li:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 1.5em;
  left: 0;
}
.menu li a {
  color: #fff;
}
.sectionTitle {
  font-size: 3em;
  font-weight: 300;
  width: 100%;
  line-height: 0.7em;
  position: relative;
  color: #293f6e;
  text-align: center;
}
.sectionTitle span {
  font-size: 0.5em;
  color: #58acd1;
}
#services,
#benefits,
#key {
  padding-top: 3em;
  padding-bottom: 3em;
}
#services .servicios .title,
#benefits .servicios .title,
#key .servicios .title {
  font-size: 1em;
  font-weight: 700;
  color: #545454;
}
.title {
  font-size: 3em;
  font-weight: bold;
}
.margen1 {
  padding-top: 2em;
}
.sales {
  background-color: #f6f6f6;
}
#aboutus {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1em;
}
#aboutus .about {
  font-size: 1.5em;
  color: #8b8b8b;
}
#aboutus .about .anta {
  color: #2172c6;
}
#aboutus .tit {
  color: #a7bcd1;
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}
#aboutus .frase {
  text-align: center;
  font-size: 1.8em;
  color: #2172c6;
}
#aboutus .services {
  font-size: 1.2em;
  text-align: center;
}
#aboutus .cen {
  text-align: center;
  padding-top: 1.5em;
}
#aboutus .masinfo {
  color: #2172c6;
}
#aboutus .testlab {
  font-size: 1.3em;
}
#aboutus .tit2 {
  color: #2172c6;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
#aboutus .tex {
  text-align: center;
  font-size: 1.8em;
  color: #8b8b8b;
}
#aboutus .titulo {
  font-size: 1.4em;
}
#aboutus .mapa {
  font-size: 1.2em;
}
#aboutus .fq {
  font-size: 1.2em;
}
#notlist {
  text-align: center;
}
.media .glyphicon {
  font-size: 3em;
}
footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-color: #293f6e;
  background-image: url("../img/footer.png");
  min-height: 20%;
  color: #fff;
}
footer a {
  color: #58acd1;
}
footer a:hover {
  color: #fff;
}
footer img {
  width: 50%;
}
footer .titulo {
  font-size: 1.4em;
}
footer .sm {
ul
  padding-top: 1em;
}
footer .sm li {
  list-style: none;
  display: inline-block;
  width: 30%;
}
footer .view {
  background-color: transparent;
  border: solid 1px #fff;
  padding: 0.8em;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
footer .view:hover {
  background-color: #fff;
  color: #293f6e;
}
.xsmenu {
  position: fixed;
  z-index: 99;
  height: 100vh;
  background-color: #f00;
  width: 80%;
  background-color: #293f6e;
  color: #fff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.show .botonmenu {
  font-size: 2em;
  text-align: right;
}
@media (min-width: 768px) {
  #banner .msg {
    font-size: 3em;
    padding-top: 15%;
  }
  #benefits,
  footer {
    text-align: left;
  }
  footer .dos {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .logoMenu,
  .logo {
    width: 100%;
  }
}
