@media (min-width: 768px) 
	#banner
		.msg
			font-size 3em
			padding-top 15%

	#benefits, footer
		text-align left
	footer
		.dos
			text-align right


@media (min-width: 992px) 
	.logoMenu 
	.logo
		width 100%

// @media (min-width: 1200px) 