@media (min-width: 768px) 
	#banner
		.msg
			font-size 3em
			padding-top 15%

	#benefits, footer
		text-align left
	footer
		.dos
			text-align right
	.logoMenu 

	.logo
		width:none

// @media (min-width: 992px) 

// @media (min-width: 1200px) 